<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        <h1>{% block h1 %}{% endblock %}</h1>
      </div>

      <div class="col-md-3 col-md-offset-4">
        {% if login == True %}
          <a href="/_edit{{page.name}}">Edit</a>
          |
        {% endif %}
          <a href="/history">History</a>
      </div>

      <div class="col-md-3">
        {% if login == True %}
          {{username}}
            <a href="/logout">(logout)</a>
          {% else %}
            <a href="/login">Login</a>
            |
            <a href="/signup">Signup</a>
        {% endif %}
      </div>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
