{% extends "/templates/base.html" %}

{% block title %}Edit{% endblock %}

{% block body %}
<form method="post">
  <div class="form-group">
    <div class="col-md-8 col-md-offset-2">
      <textarea name="content" class="form-control" rows="20" 
      placeholder="Enter some texts here">{{page.content}}</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-6 col-md-6">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
